body {
  background: #000000;
}
h1 {
  font-size: 400%;
}
h1>span {
  white-space: nowrap;
}
h1, h3, i {
  color: white;
  }
#icon {
  font-size: 400%;
}
a {
  text-decoration:none;
  outline:none;
}
